.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #00ffff;
    color: white;
    padding: 40px;
    position: relative;
}

.left h1 {
    font-size: 24px;
    color: #1a3f3f;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.text p {
    font-size: 25px;
}

.right {
    width: 450px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 350px;
    padding: 30px;
    background: white;
    border-radius: 8px;
}

.form h3 {
    color: #00ffff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.input-item {
    margin-bottom: 20px;
}

.layui-input {
    height: 40px;
}

.btn {
    width: 100%;
    background-color: #00ffff;
}
.header { padding: 10px 20px;background: #ffffff; box-shadow: 0 1px 3px rgba(0,0,0,.1); }
.logo { color: #00ffff; font-size: 24px; }
.main { padding: 20px; }
